/* Example ----------------------------------------- */

#examples ul {
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}

#examples li {
    padding: 10px 0;
    text-align: center;
}

#examples .montage-inputNumber {
    text-align: center;
    width: 100px;
    font-size: 14px;
}
#examples .montage-inputRange {
    width: 200px;
}

#examples .arrow {
    padding: 10px 0 5px 0;
    font-size: 30px;
    color: hsl(0,0%,70%);
}

#examples pre {
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.2em;
    text-shadow: none;
    color: hsl(0,0%,50%);
}

#examples .hl-number {
    color: blue;
}
#examples .hl-range {
    color: red;
}
#examples .hl-bindings {
    color: black;
}

#examples .hl-value {
    color: black;
}

#examples .block {
    display: inline-block;
    position: relative;
    margin: 20px 0 20px 60px;
    padding: 0 30px;
    border-left: 1px solid hsl(0,0%,80%);
    border-right: 1px solid hsl(0,0%,80%);
}

#examples .block::before {
    position: absolute;
    left: -30px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0,0%,70%);
    -webkit-transform-origin: left top;
       -moz-transform-origin: left top;
        -ms-transform-origin: left top;
         -o-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
       -moz-transform: rotate(-90deg) translateX(-100%);
        -ms-transform: rotate(-90deg) translateX(-100%);
         -o-transform: rotate(-90deg) translateX(-100%);
            transform: rotate(-90deg) translateX(-100%);
}


#examples .markup::before {
    content: "HTML";
    top: 15px;
}
#examples .serialization::before {
    content: "JSON Serialization";
    top: 32px;
}

/* Scroll Bar */
#examples ::-webkit-scrollbar {
    -webkit-appearance: none;
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background-color: hsl(0,0%,90%);
}
#examples ::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-clip: padding-box;
	background-color: hsl(0,0%,80%);
}
