
#landing {
    margin: 0;
    color: hsl(0,0%,25%);
    font: 13px/1.231 'Open Sans', sans-serif;
	background-color: hsl(200,0%,90%);
}

#landing a {
    text-decoration: none;
    color: hsl(220,80%,50%);
}
#landing a:hover {
    color: hsl(220,80%,60%);
}
#landing a:active {
    color: hsl(220,80%,40%);
}