/* Future ----------------------------------------- */

#future .social-button {
    display: inline-block;
    margin-right: 5px;
    padding: 0 10px;
    border-radius: 40px;
    /font-size: 14px;
    /color: hsl(0,0%,0%);
    /border: 1px dashed hsl(0,0%,70%);
}
#future .social-button:hover {
    color: hsl(0,0%,15%);
    background-color: hsl(0,0%,95%);
}
#future .social-button:active {
    color: hsl(0,0%,15%);
    background-color: hsl(0,0%,86%);
}
